<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>로그인</title>

	<link rel="stylesheet" href="/css/login.css" />

</head>

<body>
	<div class="form-box">
		<div class="header-text">
			서고관리시스템 로그인
		</div>
		<form action="/login/login.do" method="post" name="loginForm">
			<input name="userId" placeholder="아이디" type="text">
			<input name="userPwd" placeholder="비밀번호" type="password">
			<span><a href="/register">회원가입</a></span>
			<button type="submit" onclick="check()">로그인</button>
		</form>
	</div>

	<script src="/js/login.js"></script>

</body>

</html>