<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>서고관리시스템</title>

	<link rel="stylesheet" href="/css/main.css" />
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Material Icons CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
	<!-- 헤더 부분 -->
	<header>
		<a class="head1" href="/main">서고관리시스템</a>
		<div class="head2" th:text="${userId} + 님"></div>
	</header>

	<!-- 메뉴바 부분 -->
	<nav>
		<div>
			<i class="material-icons">menu</i>
		</div>
		<ul>
			<li>
				<a href="#">문서입출고</a>
				<ul>
					<li><a href="/main/addDoc">문서입고처리</a></li>
					<li><a href="/main/outDoc">문서출고처리</a></li>
				</ul>
			</li>
			<li>
				<a href="#">문서관리</a>
				<ul>
					<li><a href="/main/moveDoc">문서위치이동</a></li>
				</ul>
			</li>
			<li>
				<a href="#">사용자 관리</a>
				<ul>
					<li><a href="/main/usrPermissionMng">사용자별 권한 관리</a></li>
					<li><a href="/main/editProfile">내 정보 수정</a></li>
				</ul>
			</li>
			<li><a href="'/main/setting">설정</a></li>
			<li><a href="/login">로그아웃</a></li>
		</ul>
	</nav>

	<!-- 중간 부분 -->
	<main class="body_section">
		<section id="content">
			<h3>Content section</h3>
		</section>
	</main>

	<script src="/js/main.js"></script>

</body>

</html>