<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>서고관리시스템</title>

	<link rel="stylesheet" href="/css/main.css" />
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Material Icons CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

	<th:block th:replace="~{fragments/main_header :: headerFragment}"></th:block>

	<!-- 중간 부분 -->
	<main class="body_section">
		<img alt="서고관리시스템" src="/img/Document-management-system.jpg">
	</main>


	<script src="/js/main.js"></script>
</body>

</html>